body {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    background-color: yellow;
    background-image: url(../assets/img/loginBackground2.jpg);
}
img{
    width: 30%;
}
.infoCarro {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background: darkgray;
}

.tipoCarro{
    border: 1px solid black;
    border-radius: 25px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    font-size: 16px;
    background: white;
}
.info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.graficos{
    border: 1px solid black;
    height: 70vh;
}